// Fontes
$font-principal: 'Pragati Narrow', sans-serif;

// Esquema de Cores
$white-principal: #f5f5fa;
$black-secundario: #0c0c0f;
$black-translucido: #0004;
$black-principal: #0f0f0f;
$btn-hover-enviar: #EAE79F;
$btn-hover: #69a7aa;
$hover-facebook: #3b5998;
$hover-youtube: #c4302b;
$hover-twitter: #26a7de;
$hover-twitch: #6441a5;
$hover-instagram: #de0862;
$fundo-input: #808080;
$btn-like: #ee4c4c;
$cor-menu-contato: #c2c1c1;
$transparente: transparent;
$cor-checkmark: #2196F3;
$gradient-principal: linear-gradient(90deg, #74F7FF 0%, #EAE79F 100%);
$cor-sombra: rgba(0,0,0,0.2);
$cor-toggle: #0f0f0f71;

// Breakpoints
$mobile : 767px;
$tablet : 1023px;